@{
    ViewBag.Title = "About";
}
<div class="text-center">
    <h2 style="margin:auto">ЗА НАС</h2>
</div>
<h1 class="display-4" style="font-size:1.5rem">Кој сме ние?</br>
    Ние сме мала продавница која е лоцирана во градот Охрид, Република Македонија
    Изработуваме дрвени уникатни подароци, кои можат да го затоплат секое срце.
    Располагаме со веќе однапред смислени готови производи, но нудиме можност и
    изработување на производи по ваша замисла. Нашата цел е да имаме што повеќе задоволни
    купувачи. <br /><br />
    Контакт број 078 001 001    <br />
    email: apieceofwood@gmail.com   <br />
    Адреса: ул. Кузман Капидан - Охрид</h1>
