
@{
    ViewBag.Title = "OrderCompleted";
}

<div class="text-center" >  
    <h2>Усшено ја креиравте вашата нарачка!</h2>
    <a href="/products/index" class="btn btn-success">Назад кон производи</a>
</div>
